# Assignment 1:

### - The automated_stat_analyzer Function

- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the
  "Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.

* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [ ]:
import pandas as pd
import numpy as np

# 1. Ne3mel el Data awel 7aga (Define df_test)
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], 
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}
df_test = pd.DataFrame(data)

# 2. Ne3raf el Function
def automated_stat_analyzer(df, column_name):
    if df[column_name].dtype == 'object':
        mode_val = df[column_name].mode()[0]
        return f"Categorical Column: Mode is {mode_val}"
    
    mean_val = df[column_name].mean()
    median_val = df[column_name].median()
    std_val = df[column_name].std()
    
    if mean_val > median_val:
        skew_status = "Right-Skewed (Positive)"
    elif mean_val < median_val:
        skew_status = "Left-Skewed (Negative)"
    else:
        skew_status = "Symmetric"
        
    return {
        "Mean": mean_val,
        "Median": median_val,
        "Standard Deviation": std_val,
        "Skewness": skew_status
    }

# 3. Ba3den nshaghal el Test (Print)
print("Sales Analysis:", automated_stat_analyzer(df_test, 'Sales_Amount'))
print("Category Analysis:", automated_stat_analyzer(df_test, 'Product_Category'))

Sales Analysis: {'Mean': np.float64(275.0), 'Median': np.float64(195.0), 'Standard Deviation': np.float64(258.30645021412494), 'Skewness': 'Right-Skewed (Positive)'}
Category Analysis: Categorical Column: Mode is Electronics

In [3]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [ ]:
import pandas as pd
import numpy as np

def automated_stat_analyzer(df, column_name):
    # 1. Check law el column Numerical (arkam)
    if np.issubdtype(df[column_name].dtype, np.number):
        stats = {
            "Mean": df[column_name].mean(),
            "Median": df[column_name].median(),
            "Standard Deviation": df[column_name].std()
        }
        
        # Challenge: Compare Mean & Median 3ashan ne3raf el Skewness
        if stats["Mean"] > stats["Median"]:
            stats["Skewness"] = "Right-Skewed"
        elif stats["Mean"] < stats["Median"]:
            stats["Skewness"] = "Left-Skewed"
        else:
            stats["Skewness"] = "Symmetric"
            
        return stats

    # 2. Law el column Categorical 
    else:
        # .mode() bt-rage3 Series, bn-akhod awel item [0]
        mode_val = df[column_name].mode()[0]
        return {"Mode": mode_val}

# --- Test Case ---
# Sales_Amount (Numerical)
print("Sales Stats:", automated_stat_analyzer(df_test, 'Sales_Amount'))

# Product_Category (Categorical)
print("Category Stats:", automated_stat_analyzer(df_test, 'Product_Category'))

Sales Stats: {'Mean': np.float64(275.0), 'Median': np.float64(195.0), 'Standard Deviation': np.float64(258.30645021412494), 'Skewness': 'Right-Skewed'}
Category Stats: {'Mode': 'Electronics'}

## Assignment 2:

### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.

### Requirements:

- Check for null values in the DataFrame.

- Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

- Ensure the function only fills numerical columns when using mean or median.

In [5]:
import pandas as pd
import numpy as np

def null_handling_strategy(df, strategy="fill_mean"):
    # 1. Ne3mel copy 3ashan n-seeb el data el aslya zay ma heya
    df_clean = df.copy()
    
    # 2. Check law feh aslan Nulls (Optional bas kwayes lel monitoring)
    null_count = df_clean.isnull().sum().sum()
    print(f"Total Nulls found: {null_count}")

    # 3. Apply the Strategy
    if strategy == "drop_rows":
        # By-msah ay safr fih ay Null
        df_clean = df_clean.dropna()
        
    elif strategy == "fill_mean":
        # By-emla el Nulls b-motawaset el arqam (Numerical columns only)
        # select_dtypes(include=[np.number]) btedman enna msh bn-ghayar f el text
        num_cols = df_clean.select_dtypes(include=[np.number]).columns
        for col in num_cols:
            df_clean[col] = df_clean[col].fillna(df_clean[col].mean())
            
    elif strategy == "fill_median":
        # By-emla el Nulls bel raqam elly f el nos (ahsan law feh outliers)
        num_cols = df_clean.select_dtypes(include=[np.number]).columns
        for col in num_cols:
            df_clean[col] = df_clean[col].fillna(df_clean[col].median())
            
    return df_clean

# --- Test Case 3ala Customer_Age ---
# El age f df_test feha NaN (Nulls)
df_filled = null_handling_strategy(df_test, strategy="fill_mean")
print(df_filled[['Customer_Age']])

Total Nulls found: 2
   Customer_Age
0        25.000
1        34.000
2        33.125
3        45.000
4        23.000
5        31.000
6        29.000
7        33.125
8        38.000
9        40.000